/*!
 * This file is part of Galette Helloasso plugin (https://galette-community.github.io/plugin-helloasso).
 * SPDX-FileCopyrightText: Copyright © 2025-2026 The Galette Team
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@font-face {
  font-family: "Helloasso";
  src:
    url("./fonts/Helloasso.woff") format("woff"),
    url("./fonts/Helloasso.woff2") format("woff2");
}
i.icon.helloasso::before {
  font-family: Helloasso;
  content: "H";
}

em[data-emoji=":helloasso:"]::before,
em[data-emoji="helloasso"]::before {
  background-image: url(./images/helloasso.svg);
}

.ui.message.amount-description {
  margin-left:1.85714em;
}

.secured-payment {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}
